*
{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    box-sizing: border-box;
}
 .header
{
    width: 100%;
}
.header .top_header
{
    max-width: 100%;
    display: flex;
    padding: 10px 10px;
    background: #f6f7f8;
}
.header .top_header .icon
{
    margin-left: 20px;
    color: #ababab;
    font-size: 19px;
}
.header .top_header .info p
{
    margin-left: 10px;
    color: #8a8a8a;
}
.header .mid_header
{
    display: flex;
    padding: 20px 40px;
    max-width: 100%;
    justify-content: space-between;
}
.header .mid_header .logo img
{
    cursor: pointer;
    object-fit: cover;
} 
.header .mid_header .search_box input
{
    padding: 10px 10px;
    outline: none;
    background: none;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    width: 250px;
    border: none;
    background: #f6f7f8;
}
.header .mid_header .search_box button
{
    padding: 10px 10px;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    border: none;
    outline: none;
    width: 50px;
    background: #cd1e76;
    color: #fff;
    cursor: pointer;
    margin-right: 30px;
    transition: 0.5s;
    font-weight: 600;
}
.header .mid_header .search_box button:hover
{
    background: #fed700;
    color: #cd1e76;
}
.header .mid_header .user
{
    display: flex;
}
.header .mid_header .user .icon

{
    cursor: pointer;
}
.header .mid_header .user .btn button
{
    border: none;
    outline: none;
    font-size: 16px;
    background: none;
    cursor: pointer;
}
.header .last_header
{
    width: 100%;
    padding: 10px 10px;
    display: flex;
    background: #232323;
    justify-content: space-between;
}

.header .last_header .user_profile .info
{
    margin-left: 10px;
}
.header .last_header .user_profile .info h2
{
    color: #fff;
    font-size: 18px;
}
.header .last_header .user_profile .info p
{
    color: #ababab;
    font-size: 14px;
}
.header .last_header .nav
{
    margin-top: 15px;
}
.header .last_header .nav ul
{
    display: flex;
}
.header .last_header .nav ul li
{
    list-style: none;
}
.header .last_header .nav ul li .link
{
    margin-right: 20px;
    text-decoration: none;
    color: #fff;
    font-weight: 600;
    transition: 0.5s;
}
.header .last_header .nav ul li .link:hover
{
    color: #fed700;
}
.header .last_header .offer
{
    margin-right: 20px;
    padding: 10px 20px;
    background: #fed700;
    border-radius: 10px;
}
.header .last_header .offer p
{
    margin-top: 5px;
    text-transform: uppercase;
    color: #232323;
    font-weight: 600;
    font-size: 14px;
}


 
/* top navbar */
.top-navbar{
    display: flex;
    justify-content: space-between;
    
}
.top-navbar p{
    margin-top: 13px;
    margin-left: 15px;
}
.top-navbar .icons{
    margin-top: 13px;
    margin-right: 15px;
}
.top-navbar a{
    text-decoration: none;
    color: black;
    margin-left: 10px;
}
.top-navbar a img{
    margin-bottom: 3px;
}
.top-navbar a:hover{
    color: black;
}
@media screen and (max-width:400px){
    .top-navbar a{
        font-size: 13px;
    }
    .top-navbar a img{
        width: 15px;
    }
    .top-navbar p{
        font-size: 13px;
    }
}
@media screen and (max-width:320px){
    .top-navbar a{
        font-size: 10px;
    }
    .top-navbar a img{
        width: 13px;
    }
    .top-navbar p{
        font-size: 10px;
    }
}
@media screen and (max-width:318px){
    .top-navbar a{
        font-size: 8px;
        margin-left: 0;
    }
    .top-navbar a img{
        width: 10px;
        margin-left: 0;
    }
    .top-navbar p{
        font-size: 10px;
        margin-top: 20px;
    }
}
.navbar-nav{
    margin-left: 20%;
}
a {
    color: white !important;
    text-decoration: none !important;
}
a:hover{
    color: #fed700 !important;
    text-decoration: none !important;
}
.logo img
{
    cursor: pointer;
    object-fit: cover;
} 

.search_box input
{
    padding: 10px 10px;
    outline: none;
    background: none;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    width: 250px;
    border: none;
    background: #f6f7f8;
}

.search_box button
{
    padding: 10px 10px;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    border: none;
    outline: none;
    width: 50px;
    background: #cd1e76;
    color: #fff;
    cursor: pointer;
    margin-right: 30px;
    transition: 0.5s;
    font-weight: 600;
}
.search_box button:hover
{
    background: #fed700;
    color: #cd1e76;
}
.user
{
    display: flex;
    margin-right: 30px;
    cursor: pointer;
}
.user .icon
{
    margin-right: 10px;
}
@media screen and (max-width:300px){
    .offcanvas-header {
        display: block !important;
        align-items: center;
        padding: var(--bs-offcanvas-padding-y) var(--bs-offcanvas-padding-x);
    }
    .user
{
    display: flex;
    margin-right: 0px;
}
}
.user .btn button
{
    border: none;
    outline: none;
    font-size: 16px;
    background: none;
    cursor: pointer;
}
.last_header
{
    width: 100%;
    padding: 10px 10px;
    display: flex;
    background: #232323;
    justify-content: space-between;
}
.offer
{
    margin-right: 20px;
    padding: 10px 20px;
    background: #fed700;
    border-radius: 10px;
}
.offer p
{
    margin-top: 5px;
    text-transform: uppercase;
    color: #232323;
    font-weight: 600;
    font-size: 14px;
}
.user_profile
{
    display: flex;
    margin-top: 10px;
}
.user_profile p{
    color: #f6f7f8;
}
.user_profile .icon
{
    padding: 10px 10px;
    background: #fff;
    border-radius: 10px;
}


/* top navbar */
.offcanvas {
    position: fixed;
    bottom: 0;
    z-index: var(--bs-offcanvas-zindex);
    display: flex;
    flex-direction: column;
    max-width: 100%;
    color: black !important;
    visibility: hidden;
    background-color: black !important;
    background-clip: padding-box;
    outline: 0;
    transition: var(--bs-offcanvas-transition);
}
.navbar-toggler{
    color: white !important;

}



/* navbar */

